<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/CSS/estiloexibirtexto.css">
    <title>Exibir Texto</title>
</head>
<body>
    <header>
        <nav >
            <div class="Menu">
                <div class="Titulodomenu">Menu<span id="fechar" class="material-symbols-outlined">close</span></div>
            <ul>
                <li><a href="@">Tela Principal</a></li>
                <li><a href="@">Perfil</a></li>
                <li><a class="Cidades">Cidades<span class="material-symbols-outlined">chevron_right</span></a>
                    <ul class="CddO">
                        <li><a href="@">Água nova</a></li>
                        <li><a href="@">Alexandria</a></li>
                        <li><a href="@">Álmino Afonso</a></li>
                        <li><a href="@">Antônio Martins</a></li>
                        <li><a href="@">Coronel João Pessoa</a></li>
                        <li><a href="@">Doutor Severiano</a></li>
                        <li><a href="@">Encanto</a></li>
                        <li><a href="@">Francisco Dantas</a></li>
                        <li><a href="">Frutuoso Gomes</a></li>
                        <li><a href="">João Dias</a></li>
                        <li><a href="">José da Penha</a></li>
                        <li><a href="">Luís Gomes</a></li>
                        <li><a href="">Lucrécia</a></li>
                        <li><a href="">Major Sales</a></li>
                        <li><a href="">Marcelino Vieira</a></li>
                        <li><a href="">Martins</a></li>
                        <li><a href="">Pau dos Ferros</a></li>
                        <li><a href="">Paraná</a></li>
                        <li><a href="">Pilões</a></li>
                        <li><a href="">Portalegre</a></li>
                        <li><a href="">Rafael Fernandes</a></li>
                        <li><a href="">Riacho da Cruz</a></li>
                        <li><a href="">Riacho de Santana</a></li>
                        <li><a href="">São Francisco do Oeste</a></li>
                        <li><a href="">São Miguel</a></li>
                        <li><a href="">Serrinha dos Pintos</a></li>
                        <li><a href="">Tenente Ananias</a></li>
                        <li><a href="">Taboleiro Grande</a></li>
                        <li><a href="">Venha-ver</a></li>
                        <li><a href="">Viçosa</a></li>
                    </ul>
                </li>
                <li><a class="Gêneros">Gêneros <span class="material-symbols-outlined">chevron_right</span></a>
                    <ul class="GeneL">
                        <li><a href="@">Poema</a></li>
                        <li><a href="@">Poesia</a></li>
                        <li><a href="@">Conto</a></li>
                        <li><a href="@">Outros</a></li>
                    </ul>
                </li>
                <li><a href="@">Sobre</a></li>
            </ul>
            </div>
            <div>
                <button id="hamburguer"><span class="material-symbols-outlined">density_medium</span></button>           
                <a href=""><img id="logo" src="/static/IMG/image 1.png" alt=""></a>
                <h1>Vozes do Oeste Potiguar</h1>
            </div>
            <div id="linhaverdefina" class="small-screen"></div>
            <div>               
                <button>Voltar</button>
                
                <a href="paginadelogin.html"><img id="perfil" src="/static/IMG/icons8-conta-de-teste-60.png" alt=""></a>
            </div>           
        </nav>
        <div id="linhaverdefina"></div>
    </header>
    <main>
        <div id="linhaverdecima"></div>
        <div class="alinharmain">
            <section>
                
                <div class="alinharperfileinformações">
                    <div class="perfil">

                        <a href=""><img src="/static/IMG/Ellipse 22.png" alt=""></a>
                            <div>
                                <h2>Eda Clawthorne</h2>
                                <a href=""><h3>@mulher_coruja</h3></a>
                            </div>
                    </div>
                    <div class="informações">
                        
                        <h2>Casa coruja</h2>
                        <p>Romance - AL</p>
                        <p id="datas">Publicado em 19 set 2023, 10h35</p>
                    </div>
                
                </div>
                <div class="interação">
                    <a href=""><img src="/static/IMG/InstagramLogo.svg" alt=""></a>
                    <a href=""><img src="/static/IMG/Heart.svg" alt=""></a>
                </div>
            </section>
            
            <div class="textodoautor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quae sint quidem quisquam nihil quis modi magni nemo, culpa iure mollitia. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nam vitae, quia fuga doloremque, quod sit culpa soluta blanditiis aliquid nostrum enim, non expedita magni sint accusamus sed.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae magni quibusdam, ea voluptatem incidunt voluptatibus cupidit
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatum fugit sint delectus ab, dignissimos quidem labore a consectetur harum libero incidunt quibusdam accusantium officiis necessitatibus nulla provident, aspernatur dolorem?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eveniet similique sunt excepturi architecto non voluptatem! Perferendis eveniet porro temporibus provident dolorem est, quam odit, voluptatum ipsum, voluptatibus illum sapiente.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos alias officiis sint possimus non consequatur mollitia nesciunt nostrum. Eum perspiciatis reprehenderit hic nostrum eveniet numquam delectus tempore velit excepturi unde?

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, necessitatibus nemo quas veritatis, excepturi dolores officia soluta quaerat sunt nesciunt ducimus facilis unde provident enim doloremque culpa laudantium? Nemo, tenetur?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio sed in perferendis iure voluptas inventore nemo fuga impedit incidunt facere! Excepturi, id numquam. Accusamus aliquid, repellendus sint aliquam corporis molestias?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quisquam delectus atque illo praesentium quaerat ullam, consequatur ad tenetur ipsam cum nulla vitae quasi nihil facilis quis eos eligendi voluptatem!loginlo
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate porro minus officia ea at ut deserunt provident quo, impedit explicabo! Dicta a doloremque ratione tenetur animi quisquam sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat voluptas doloremque, obcaecati ab, fuga molestias praesentium expedita vitae ex est in reprehenderit. Quia ipsum rerum cum voluptatibus omnis consectetur.

                
            </div>

        </div>
        <div id="linhaverdebaixo"></div>
    </main>
    <footer>
        <div class="rodape">
            <div class="redessociais">
                <a href=""><img src="/static/IMG/Twitter.png" alt=""></a>
                <a href=""><img src="/static/IMG/Gmail Logo.png" alt=""></a>
                <a href=""><img src="/static/IMG/Instagram.png" alt=""></a>
            </div>
            <div class="sobreetermo">
                <a href="">Sobre</a>
                <a href="">Termos de uso</a>
            </div>
            <a href="" id="politica">Politica e privacidade</a>
    
            <div class="Copyright">
                <a href=""><img src="/static/IMG/Copyright.png" alt=""></a>
                <a href=""></a>2023 Vozes do Oeste Potiguar</a>
            </div>
        </div>
    <script src="/static/JAVA/javascript.js"></script>
</body>
</html>