{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/estiloexibirtexto.css' %}">
{% endblock %}

{% block content %}

<main>
    <div id="linhaverdecima"></div>
    <div class="alinharmain">
        <section>
            
            <div class="alinharperfileinformações">
                <div class="perfil">

                    <a href=""><img src="{{ texto.autor.avatar.url }}" alt=""></a>
                        <div>
                            <h2>{{ texto.autor.nome_completo }}</h2>
                            <a href=""><h3>@{{ texto.autor.username }}</h3></a>
                        </div>
                </div>
                <div class="informações">
                    
                    <h2>{{ texto.titulo }}</h2>
                    <p>{{ texto.genero }} - {{ texto.classificacao }}</p>
                    {% comment %} <p id="datas">Publicado em 19 set 2023, 10h35</p> {% endcomment %}
                </div>
            
            </div>
            <div class="interação">
                {% if curtida %}
                    <a href="{% url 'curtir_texto' texto.id %}" ><img src="/static/IMG/favorite_32dp_014040.svg" alt=""></a>
                {% else %}
                    <a href="{% url 'curtir_texto' texto.id %}" ><img src="/static/IMG/Heart.svg" alt=""></a>
                {% endif %}
            </div>
        </section>
        
        <div id="textodoautor" class="textodoautor">
            {{ texto.conteudo|safe }}
        </div>

    </div>
    <div id="linhaverdebaixo"></div>
</main>

{% endblock %}