{% extends 'base.html'%}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/estilorevisartexto.css' %}">
    <main>
        <section>
            <div class="BusqueporGenerocidade">Revisão e publicação do texto</div>
            <div class="alinhardatasinfor">
                <div class="informações">           
                    <h2>Casa coruja</h2>
                    <p>{{ texto.genero }} - {{ texto.classificacao.idade }}</p>
                </div>
                <div id="datasdepublicação">
                    <p id="datas">{{texto.data_de_publicacao}}</p>
                    <p id="datas">Por {{texto.autor}} — {{ texto.autor.cidade }}</p>
                </div>

            </div>
            <div id="linha"></div>
        </section>
        <div class="textodoautor">
            {{ texto.conteudo }}

            <div id="linhabaixo"></div>
            
        </div>
            <div>
              {% comment %} <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter" /> {% endcomment %}
              {% comment %} <label for="subscribeNews"> Texto já foi revisado </label> {% endcomment %}
            </div>
            <div id="butplublicar">
                <a href="{% url 'publicar_texto' texto.id %}">
                    <button type="button">Publicar</button>
                </a>
            </div>
        <form action="{% url 'devolver_texto' texto.id %}" method="post">
            {% csrf_token %}
            <div id="Devolver">
                <p>Motivo do texto ser devolvido</p>
                <button type="submit">Devolver</button>
            </div>
            <div id="caixadetexto"><textarea name="motivo_devolucao" id="cai" cols="30" rows="10"></textarea></div> 
        </form>
    </main>
        
{% endblock %}   