{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/CSS/estilotextosdevolvidos.css">

{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="BusqueporGenerocidade">Textos devolvidos</div>
            <div class="alinhardatasinfor">
                <div class="informações">           
                    <h2>{{ texto.titulo }}</h2>
                    <p>{{ texto.genero }} - {{ texto.classificacao }}</p>
                </div>
                <div id="datasdepublicação">
                    
                    <p id="datas">Devolvido em 18 set 2023, 11h35</p>
                </div>

            </div>
            <div id="linha"></div>
        </section>
        <div class="textodoautor">
            {{ texto.conteudo }}
            <div id="linhabaixo"></div>
        </div>
        
        <div id="Devolver">
            <div><p>Motivo do texto ser devolvido</p></div>
        </div>
        <div id="caixadetexto">
            {{ revisao.motivo_devolucao }}
        </div> 
        <div id="RefazerouDeletar">
            <p>Deseja refazer ou deletar seu texto?</p>
            <div id="button">
                <!-- <a href="{% url 'editar_texto' texto.id %}">
                    <button>Refazer</button>
                </a> -->
                <a href="{% url 'excluir_texto' texto.id %}?next=/autor/obras">
                    <button>Deletar</button>
                </a>
            </div>
        </div>
        <p class="refazer-mensagem">Para refazer seu texto, exclua-o e crie de novo.</p>
    </main>
{% endblock %}