{% extends 'base.html'%}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/textosporgenero.css' %}">
    <main>
        <section id="section">
            <div id="barra">{{ nome_genero }}</div>
            <div class="alinhar">
                <div class="bloco-grande">
                    {% for obra in obras %}
                            {% comment %} <p>{{ obra.titulo }}</p> {% endcomment %}
                             <div class="obras">
                                <a href="{% url 'visitar_autor' obra.autor.id %}"><img src="{{ obra.autor.avatar.url }}" alt="avatar"></a>
                                <div class="infos">
                                    <a href="{% url 'exibirtexto' obra.id %}">
                                        <p class="titulotexto">{{ obra.titulo }}</p>
                                    </a>
                                    <a href="{% url 'visitar_autor' obra.autor.id %}">
                                        <p class="autores">{{ obra.autor.nome_completo }}</p>
                                    </a>
                                    
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <div class="blocos">
                    <div id="maiscurtidos">
                        <p>MAIS CURTIDOS</p>
                    </div>
                    {% for curtida in curtidas %}
                    <div class="obras">
                        <a href="/autor"><img src="{{ curtida.texto.autor.avatar.url }}" alt=""></a>
                        <div class="infos">
                            <p>{{ curtida.texto.titulo }}</p>
                            <p class="autores">{{ curtida.texto.autor }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'publicacoes/pagination.html' with page_obj=obras %}
       
    </main>
{% endblock %}   
   