{% extends 'base.html'%}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/textosporgenero.css' %}">
    <main>
        <section id="section">
            <div id="barra">{{ nome_genero }}</div>
            <div class="alinhar">
                <div class="bloco-grande">
                    {% for obra in obras %}
                            {% comment %} <p>{{ obra.titulo }}</p> {% endcomment %}
                             <div class="obras">
                                <a href="{% url 'visitar_autor' obra.autor.id %}"><img src="{{ obra.autor.avatar.url }}" alt="avatar"></a>
                                <div class="infos">
                                    <a href="{% url 'exibirtexto' obra.id %}">
                                        <p class="titulotexto">{{ obra.titulo }}</p>
                                    </a>
                                    <a href="{% url 'visitar_autor' obra.autor.id %}">
                                        <p class="autores">{{ obra.autor.nome_completo }}</p>
                                    </a>
                                    
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <div class="blocos">
                    <div id="maiscurtidos">
                        <p>MAIS CURTIDOS</p>
                    </div>
                    <div class="obras">
                        <a href="/autor"><img src="/static/IMG/Ellipse 22 (1).png" alt=""></a>
                        <div class="infos">
                            <p>O Pequeno P...</p>
                            <p class="autores">Eda Clawthorne</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href="/autor"><img src="/static/IMG/Ellipse 23.png" alt=""></a>
                        <div class="infos">
                            <p>Teto para dois</p>
                            <p class="autores">King</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href="/autor"><img src="/static/IMG/Ellipse 25.png" alt=""></a>
                        <div class="infos">
                            <p>Eu sou um ga...</p>
                            <p class="autores">Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </main>
{% endblock %}   
   