{% extends 'base.html'%}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/textosporcidade.css' %}">
    <main>
        <section id="section">
            <div id="barra">ALEXANDRIA</div>
            <div class="alinhar">
                <div class="blocos">
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 6.png" alt=""></a>
                        <div class="infos">
                            <p>A Biblioteca da...</p>
                            <p class="autores">Amity Blight</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 7.png" alt=""></a>
                        <div class="infos">
                            <p>Eu e esse meu c...</p>
                            <p class="autores">Willow Park</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 8.png" alt=""></a>
                        <div class="infos">
                            <p>O Jardim Secreto</p>
                            <p class="autores">Colecionador</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 9.png" alt=""></a>
                        <div class="infos">
                            <p>Heartstopper</p>
                            <p class="autores">Vee</p>
                        </div>
                    </div>
                </div>
                <div class="blocos">
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 11.png" alt=""></a>
                        <div class="infos">
                            <p>Como sobreviv...</p>
                            <p class="autores">Luz Noceda</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 12.png" alt=""></a>
                        <div class="infos">
                            <p>A Troca</hp>
                            <p class="autores">Gus Porter</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 13.png" alt=""></a>
                        <div class="infos">
                            <p>As Vantagens d...</p>
                            <p class="autores">Camila Noceda</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 14.png" alt=""></a>
                        <div class="infos">
                             <p>Coraline</p>
                             <p class="autores">Raine Whispers</p>
                        </div>
                    </div>
                </div>
                <div class="blocos">
                    <div class="obras">
                        <p id="maiscurtidos">MAIS CURTIDOS</p>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 22 (1).png" alt=""></a>
                        <div class="infos">
                            <p>O Pequeno P...</p>
                            <p class="autores">Eda Clawthorne</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 23.png" alt=""></a>
                        <div class="infos">
                            <p>Teto para dois</p>
                            <p class="autores">King</p>
                        </div>
                    </div>
                    <div class="obras">
                        <a href=""><img src="/static/IMG/Ellipse 25.png" alt=""></a>
                        <div class="infos">
                            <p>Eu sou um ga...</p>
                            <p class="autores">Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="centralizar">
            <h1 id="titulos-az">TÍTULOS DE A-Z</h1>
            <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">A</a></li>
                <li class="page-item"><a class="page-link" href="#">B</a></li>
                <li class="page-item"><a class="page-link" href="#">C</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}   