*{
    margin: 0%;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #F1F1F1;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  /* Coisas do menu*/
  .Menu{
    background-color: #496863;
    width: 250px;
    height: 700px;
    position: fixed;
    display: none;
    top: 0; 
    overflow-y: auto;
    left: 0%;
    z-index: 10;
  }
  .Titulodomenu{
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-size: 24px;
    border-bottom: 2px solid #F1F1F1;
  }
  .Menu ul{
    list-style: none;
    
  }
  .Menu ul li {
    line-height: 40px;
    border-bottom: solid #F1F1F1;
  }
  .Menu ul li a {
    color: #F1F1F1;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    display: block;
  }
  .Menu ul li a:hover{
    background-color: #bec1c1;
    transition: 0.5s;
  }
  .Menu ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background-color: #587663;
  }
  .CddO{
    display: none;
    
  }
  .GeneL{
    display: none;
    
  }
  
  #hamburguer{
    background-color: #F1F1F1;
    color: #014040;
    border: #F1F1F1;
    width: 43px;
    height: 43px;
    cursor: pointer;
  }
  #fechar{
    position: relative;
    left: 20px;
    top: 3px;
    border: 1px solid #bec1c1;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #fechar:hover{
    border: 1px solid #F1F1F1;
  }
  #logo{
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  h1{
    font-size: 30px; 
  }
  
  .search-box{
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10% );
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
  }
  .search-box:hover > .search-text{
    width:320px;
    padding-left:20px;
  }
  .search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
  }
  .search-btn{
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 3px;
  }
  header{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 0px;
    /* height: 107px; */
    gap: 8px;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    padding-top:25px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 6%;
  }
  h1{
    color: #014040;
    font-weight: bold;
  }
  nav > div:not(:nth-of-type(1)) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  
  #perfil-avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  #linhaverdefina{
    display: flex;
    width: min(100%, 1290px);
    height: 10px;
    background-color: #014040;
    fill: #014040;
    stroke-width: 1px;
    stroke: #000;
    border-radius: 4px;
  }

  

  footer{
    margin: auto;
    width: 100%;
    flex-shrink: 0;
    background-color: #014040;
    margin-top: 90px;
    padding:0%;
    max-width: 1440px;
  }
  
  .rodape{
    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  .redessociais{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    margin: 16px;
  }
  
  .sobreetermo{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    margin: 16px;
  }
  .sobreetermo > a{
    color: #84998D;
    text-decoration: none;
  }
  
  .Copyright{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    color: #84998D;
    margin: 16px;
  }
  
  #politica{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    text-decoration: none;
    color: #84998D;
    margin: 16px;
  }
  
  .carousel-item > div {
    display: flex;
    justify-content: space-around;
    gap: 32px;
  }
  
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  
  
  .carousel.small-screen {
    display: none;
  }
  
  .carousel > a {
    position: static;
    background-color: #014040;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
  
  #linhaverdefina.small-screen {
    display: none;
  }
  
  .white{color: white;
  
  }
  p{
    color: #014040;
    font-weight: bold;
  }
  
  @media (max-width: 1024px) {
    header nav {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 16px;
    }
  
    header nav div:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
   }
    header nav div:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  
    #linhaverdefina:not(.small-screen) {
      display: none;
    }
  
    #linhaverdefina.small-screen {
      display: block;
    }
  
    .BusqueporGenerocidade:nth-child(1) {
      margin-top: 0;
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
      padding: 0 72px;
    }
  
    .carousel.small-screen {
      display: flex;
    }
  
    .carousel:not(.small-screen) {
      display: none;
    }
  }