* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F1F1F1;
    color: #014040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.sobre-site {
    background-color: #F1F1F1;
    padding: 40px;
    width: 80%;
    max-width: 900px;
    margin: 40px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #014040;
}

ul {
    list-style: none;
    padding: 0; /* Remove o recuo padrão */
    margin: 0; /* Remove o espaçamento padrão */
}

.conteudo-sobre ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conteudo-sobre {
    margin: 72px;
    align-items: center;
    gap: 72px;
}

.conteudo-equipe{
    margin: 72px;
    gap: 72px;
}
.descricao {
    width: 60%;
}

.descricao h2 {
    font-size: 24px;
    color: #014040;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descricao p {
    font-size: 18px;
    line-height: 1.6;
}
.logo{
    display: flex;
    gap: 200px;
    margin: 72px;
}
.logo > p{
    color: #014040;
    font-weight: bold;
    font-size: 20px;
}
.logo img {
    
    width: 180px;
    font-size: 28px;
    color: #014040;
    font-weight: bold;
    margin-bottom: 20px;
}

.linha-verde {
    border: 0;
    height: 5px;
    background-color: #014040;
    margin-top: 40px;
    margin-bottom: 24px;
}

.equipe {
    text-align: center;
    width: 80%;
    max-width: 900px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #014040;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.equipe-container {
    display: flex;
    justify-content: center;
    gap: 102px;
}

.membro {
    text-align: center;
}

.membro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.membro p {
    font-size: 18px;
    font-weight: bold;
    color: #033d47;
}


footer{
    margin: auto;
    width: 100%;
    flex-shrink: 0;
    background-color: #014040;
    margin-top: 90px;
    padding:0%;
    max-width: 1440px;
  }
  
  .rodape{
    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  .redessociais{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    margin: 16px;
  }
  
  .sobreetermo{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    margin: 16px;
  }
  .sobreetermo > a{
    color: #84998D;
    text-decoration: none;
  }
  
  .Copyright{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    color: #84998D;
    margin: 16px;
  }
  
  #politica{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    text-decoration: none;
    color: #84998D;
    margin: 16px;
  }