*{
  margin: 0%;
  font-family: sans-serif;
  padding: 0%;
}
body{
  background-color: #F1F1F1;
  margin: auto;
  
}
/* Coisas do menu*/
.Menu{
  background-color: #496863;
  width: 250px;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; /* COLOCAR O MENU ATÉ O TOPO */
  overflow-y: auto;
  left: 0%;
  z-index: 10;
}
.Titulodomenu{
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  line-height: 45px;
  font-size: 24px;
  border-bottom: 2px solid #F1F1F1;
}
.Menu ul{
  list-style: none;
  
}
.Menu ul li{
  line-height: 40px;
  border-bottom: solid #F1F1F1;
}
.Menu ul li a {
  color: #F1F1F1;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  display: block;
}
.Menu ul li a:hover{
  background-color: #bec1c1;
  transition: 0.5s;
}
.Menu ul ul li a{
  font-size: 16px;
  font-weight: 300;
  padding-left: 60px;
  background-color: #587663;
}
.CddO{
  display: none;
  
}
.GeneL{
  display: none;
  
}
#hamburguer{
  background-color: #F1F1F1;
  color: #014040;
  border: #F1F1F1;
  width: 43px;
  height: 43px;
  cursor: pointer;
}
#fechar{
  position: relative;
  left: 20px;
  top: 3px;
  border: 1px solid #bec1c1;
  border-radius: 3px;
  cursor: pointer;
}

#fechar:hover{
  border: 1px solid #F1F1F1;
}
#logo{
  fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
h1{
  font-size: 30px; 
}
/* header/nav */
/* .search-box{ */
  /* position: absolute; */
  /* top: 10%;
  left: 10%;
  transform: translate(-10%, -10% );
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}
.search-box:hover > .search-text{
  width:320px;
  padding-left:20px;
}
.search-text{
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  transition: 0.4s;
  width: 0;
}
.search-btn{
  width: 40px;
  height: 40px;
  display: flex;
  margin-bottom: 3px;
} */

button{
  display: flex;
  height: 37px;
  font-size: 16px;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #014040;
  color: #F1F1F1;
  }

header{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  gap: 0px;
  /* height: 107px; */
  gap: 8px;
  margin: auto;
  max-width: 1440px;
  margin-top:25px;
}
  
  nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 6%;
}

h1{
  color: #014040;
  font-weight: bold;
}
nav > div:not(:nth-of-type(1)) {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#perfil{
  width: 60px;
  height: 60px;
}

#linhaverdefina{
  display: flex;
  width: min(100%, 1290px);
  height: 10px;
  background-color: #014040;
  fill: #014040;
  stroke-width: 1px;
  stroke: #000;
  border-radius: 4px;
}
  /* Coisa do maim */
  
.BusqueporGenerocidade {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(100%, 1290px);
  height: 37px;
  flex-shrink: 0;
  background-color: #014040;
  border-radius: 4px;
  color: #F1F1F1;
  margin-top: 40px;
  font-weight: bold;
  fill: #014040;
  stroke-width: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  
}
main{
  width: min(100%, 1290px);
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

section{
  text-align: center;
  border-radius: 4px;
}


section > div{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 
}
#datasdepublicação{
  color: #014040;
  text-align: justify;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.alinhardatasinfor{
  display: flex;
  padding-top: 72px;
}

a{
  text-decoration: none;
}
h2{
  color: #014040;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
}

.informações{
  color: #014040;
  text-align: justify;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.informações > #datas{
  color: #014040;
  text-align: justify;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
}

#linha{
    text-align: center;
    width: min(100%, 1024px);
    height: 4px;
    background-color: #014040;
    fill: #014040;
    stroke-width: 1px;
    stroke: #000;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 32px;
    
}

#linhabaixo{
    text-align: center;
    width: min(100%, 1024px);
    height: 4px;
    background-color: #014040;
    fill: #014040;
    stroke-width: 1px;
    stroke: #000;
    border-radius: 4px;
    padding: 0;
    margin-top: 32px;
}

.textodoautor{
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: min(100%, 1024px);
  color: #014040;
}

#texrevi{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}
form{
  display: flex ;
  justify-content: space-around;
  margin-top: 32px;
  color: #014040;
  gap: 230px;
  font-weight: bold;
}

#butplublicar > button{
  color: #014040;
  background-color: #F1F1F1;
  margin-bottom: 20px;
  
}

#Devolver{
  display: flex;
  color: #014040;
  justify-content: space-around;
  gap: 110px;
  font-size: 20px;
  font-weight:bold;
  text-align: center;
}

#caixadetexto > textarea{
  display: flex;
  margin: auto;
  align-items:normal;
  width: min(100%, 900px);
  height: min(100%, 1024px);
  padding: 12px 16px;
  gap: 122px;
  border-radius: 4px;
  border: 1px solid #014040;
  background: #F1F1F1;

}
  
/* Coisas do footer*/

footer{
  margin: auto;
  width: 100%;
  flex-shrink: 0;
  background-color: #014040;
  margin-top: 90px;
  padding:0%;
  max-width: 1440px;
}

.rodape{
  display: block;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.redessociais{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  margin: 16px;
}

.sobreetermo{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  margin: 16px;
}
.sobreetermo > a{
  color: #84998D;
  text-decoration: none;
}

.Copyright{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  color: #84998D;
  margin: 16px;
}

#politica{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  text-decoration: none;
  color: #84998D;
  margin: 16px;
}



#linhaverdefina.small-screen {
  display: none;
}

@media (max-width: 1024px) {
  header nav {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 16px;
  }

  header nav div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
 }
  header nav div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  #linhaverdefina:not(.small-screen) {
    display: none;
  }

  #linhaverdefina.small-screen {
    display: block;
  }

  .BusqueporGenerocidade:nth-child(1) {
    margin-top: 0;
  }
}


@media (max-width: 430px) {
  #butplublicar > button{
    margin-bottom: 8px;
    
  }
  #Devolver{
    display: block;
    gap: 20px;
    font-size: 16px;
    margin-bottom: 8px;
  }

  form{
    display: block;
  }

  p{
    display: flex;
    margin-bottom: 8px;
    
  }
  .alinhardatasinfor{
    padding-top: 20px;
  }
  .informações h2{
    font-size: 16px;
  }
}