/* Estilos para a paginação */
.pagination {
    display: flex;
    justify-content: center; /* Alinha a paginação à direita */
    align-items: center;
    list-style: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: auto;
}

/* Estilo dos itens da página */
.page-item {
    margin: 0 4px;
}


/* Link da página */
.page-link {
    display: inline-block;
    padding: 8px 16px;
    color: #014040;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* Hover nos links */
.page-link:hover {
    background-color: #014040;
    color: #fff;
    border-color: #014040; /* Corrigir border-color */
}

/* Efeito de foco */
.page-link:focus {
    outline: none;
    box-shadow: 0 0 5px #014040;
}

/* Página ativa */
.page-item.active .page-link {
    background-color: #014040;
    color: white;
    border-color: #014040;
}

/* Desabilitar página anterior ou próxima */
.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #ddd;
    pointer-events: none;
}

/* Estilo para os botões de navegação (primeira e última página) */
.page-item .page-link[aria-label="Primeira"],
.page-item .page-link[aria-label="Última"] {
    font-size: 18px;
}

/* Adiciona um espaçamento maior entre as páginas */
.pagination .page-item:not(.disabled) .page-link {
    margin: 0 6px;
}

/* Estilo para os botões de navegação (anterior e próxima) */
.page-item .page-link[aria-label="Anterior"],
.page-item .page-link[aria-label="Próxima"] {
    font-size: 18px;
}

