*{
    font-family: sans-serif;
}


body{
  background-color: #F1F1F1;
  margin: auto;
}
  .Menu{
    background-color: #496863;
    width: 250px;
    height: 100%;
    position: fixed;
    display: none;
    top: 0; /* COLOCAR O MENU ATÉ O TOPO */
    overflow-y: auto;
    left: 0%;
    z-index: 10;
  }
  .Titulodomenu{
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-size: 24px;
    border-bottom: 2px solid #F1F1F1;
  }
  .Menu ul{
    list-style: none;
    
  }
  .Menu ul li{
    line-height: 40px;
    border-bottom: solid #F1F1F1;
  }
  .Menu ul li a {
    color: #F1F1F1;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    display: block;
  }
  .Menu ul li a:hover{
    background-color: #bec1c1;
    transition: 0.5s;
  }
  .Menu ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background-color: #587663;
  }
  .CddO{
    display: none;
    
  }
  .GeneL{
    display: none;
    
  }
  #hamburguer{
    background-color: #F1F1F1;
    color: #014040;
    border: #F1F1F1;
    width: 43px;
    height: 43px;
    cursor: pointer;
  }
  #fechar{
    position: relative;
    left: 20px;
    top: 3px;
    border: 1px solid #bec1c1;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #fechar:hover{
    border: 1px solid #F1F1F1;
  }
  #logo{
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  h1{
    font-size: 30px; 
  }
  /* header/nav */
  .search-box{
    /* position: absolute; */
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10% );
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
  }
  .search-box:hover > .search-text{
    width:320px;
    padding-left:20px;
  }
  .search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
  }
  .search-btn{
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 3px;
  }
  header{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 0px;
    /* height: 107px; */
    gap: 8px;
    margin: auto;
    max-width: 1440px;
    margin-top:25px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 6%;
  }
  h1{
    color: #014040;
    font-weight: bold;
  }
  nav > div:not(:nth-of-type(1)) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .linhaverdefina{
    display: flex;
    width: min(100%, 1292px);
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
    height: 10px;
    background-color: #014040;
    fill: #014040;
    stroke-width: 1px;
    stroke: #000;
    border-radius: 4px;
  } 
  
#barra{
  width: min(100%, 1290px);
  height: 37px;
  display: flex;
  margin: auto;
  flex-shrink: 0;
  background-color: #014040;
  border: 1px;
  border-radius: 4px;
  color: #F1F1F1;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  display: flex;
  margin-top: 36px;
}

section{
  text-align: center;
  border-radius: 4px;
}


section > div{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 
}

  .obras{
      display: flex;
      flex-direction: row;
      padding-bottom: 36px;
  }
  .blocos{
      margin:auto;
  }
  .obras > #maiscurtidos{
      color: #014040;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: right;
  }
  .infos{
      padding: 16px;
  }
  .alinhar{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      margin-top: 30px;
      width: min(100%, 1292px);
  }
  div > p{
      color: #014040;
      font-size:30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: auto;
  }
  .autores{
      color: #DFB958;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  }
  #titulos-az{
      color: #014040;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  .pagination {
      display: flex;
      list-style: none;
      padding: 0;
    }
    
    .page-item {
      margin: 0;
      background-color: #9bb6a696;
  
    }
    
    .page-link {
      display: inline-block;
      padding: 8px 12px;
      text-decoration: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #333;
      margin-right: 0; /* Adicionando um espaçamento entre os links */
    }
    
    .page-link:hover {
      background-color: #f5f5f5;
    }
    
    .page-link.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }
  #centralizar{
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  #section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  @media(max-width: 800px){
    .obras{
      display: block;
      text-align: center;
    }
  }
  @media(max-width: 700px){
    .alinhar{
      display: block;
    }
  }
 

/* Coisas do footer*/

footer{
  margin: auto;
  width: 100%;
  flex-shrink: 0;
  background-color: #014040;
  margin-top: 90px;
  padding:0%;
  max-width: 1440px;
}

.rodape{
  display: block;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.redessociais{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  margin: 16px;
}

.sobreetermo{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  margin: 16px;
}
.sobreetermo > a{
  color: #84998D;
  text-decoration: none;
}

.Copyright{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  color: #84998D;
  margin: 16px;
}

#politica{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 8px;
  text-decoration: none;
  color: #84998D;
  margin: 16px;
}


  @media (max-width: 1024px) {
    header nav {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 16px;
    }
  
    header nav div:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
   }
    header nav div:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  
    #linhaverdefina:not(.small-screen) {
      display: none;
    }
  
    #linhaverdefina.small-screen {
      display: block;
    }
  
    .barra:nth-child(1) {
      margin-top: 0;
    }
  }