<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/IMG/image 1.png">
    <title>{% block title %}Vozes Potiguares{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="Menu">
                <div class="Titulodomenu">Menu<span id="fechar" class="material-symbols-outlined">close</span></div>
            <ul>
                <li><a href="{% url 'index'%}">Tela Principal</a></li>
                <li><a href="{% url 'autor' %}">Perfil</a></li>
                <li><a class="Cidades">Cidades<span class="material-symbols-outlined">chevron_right</span></a>
                    <ul class="CddO">
                        {% for cidade in cidades %}
                        <li><a href="@">{{cidade.nome}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a class="Gêneros">Gêneros <span class="material-symbols-outlined">chevron_right</span></a>
                    <ul class="GeneL">
                        <li><a href="@">Poema</a></li>
                        <li><a href="@">Poesia</a></li>
                        <li><a href="@">Conto</a></li>
                        <li><a href="@">Outros</a></li>
                    </ul>
                </li>
                <li><a href="@">Sobre</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'sair' %}">Sair</a></li>
                    <li><a href="{% url 'excluir_perfil' usuario.id %}">Excluir Conta</a></li>
                {% endif %}
            </ul>
            </div>
            <div>
                <button id="hamburguer"><span class="material-symbols-outlined">density_medium</span></button>          
                <a href="{% url 'index'%}"><img id="logo" src="/static/IMG/image 1.png" alt=""></a>
                <h1>Vozes Potiguares</h1>
            </div>
            <div id="linhaverdefina" class="small-screen"></div>
            <div>              
                <form action="{% url 'textosfiltro' %}">
                    <div class="search-box">
                        <input type="text" name="search" class="search-text" placeholder="Pesquise aqui">
                        <a class="search-btn">
                            <img class="lupa-green" src="/static/IMG/icons8-pesquisar-64.png" alt="">
                        </a>
                    </div>                    
                </form>
                {% if usuario.is_authenticated %}
                    <div class="user-avatar-container">
                        <a href="{% url 'autor' %}">
                            <img id="perfil-avatar" src="{{avatar}}" alt="">
                        </a>
                        <p></p>
                    </div>
                {% else %}
                    <a href="{% url 'paginadelogin' %}"><img id="perfil-avatar" src="/static/IMG/icons8-conta-de-teste-60.png" alt=""></a>
                {% endif %}
            </div> 
        </nav>
        <div id="linhaverdefina"></div>         
    </header>

    <div id="base-content">
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <div class="rodape">
            <div class="redessociais">
                <a href=""><img src="/static/IMG/Gmail Logo.png" alt=""></a>
                <a href=""><img src="/static/IMG/Instagram.png" alt=""></a>
            </div>
            <div class="sobreetermo">
                <a href="{% url 'paginasobre'%}">Sobre</a>
                <a href="{% url 'termosdeuso'%}">Termos de uso</a>
            </div>
            <a href="{% url 'politicadeprivacidade'%}" id="politica">Politica de privacidade</a>
    
            <div class="Copyright">
                <a href=""><img src="/static/IMG/Copyright.png" alt=""></a>
                <a href=""></a>2023 Vozes Potiguares</a>
            </div>
        </div>
    </footer>
    <script src="/static/js/javascript.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>