{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/autor.css' %}">
<script src="{% static 'js/obras.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div id="img">
            <div id="perfil">
                <img id="photo"  src="/static/IMG/Ellipse 22.png" alt="">
                <div id="principal">
                    <ul class="pag_autor">
                        <li id="nome">Eda Clawthorne</li>
                        <li id="user">@eda_clawthorne</li>
                        <li id="obra_principal">Nome da obra</li>
                    </ul>
                    <button><img src="/static/IMG/UserPlus.png" alt="">EDITAR</button>
                </div>
                <ul id="infos">
                    <li><p class="number">01</p><a href="">Obras</a></li>
                    <li><p class="number">02</p><a href="">Seguidores</a></li>
                    <li><p class="number">03</p><a href="">Curtidas</a></li>
                    <li><p class="number">04</p><a href="">Seguindo</a></li>
                </ul>
            </div>
        </div>
        <div id="baixo">
            <ul id="sobrecurtidos">
                <li><a href="{% url 'autor' %}">Sobre</a></li>
                <li><a href="{% url 'autor_obras' %}">Obras</a></li>
            </ul>
            <div id="linhaverdefina"></div>
        </div>
        <div id="englobar">
            <section id="obras">
                <div class="alinharperfileinformações">
                    <div class="perfil">
                        <a href=""><img src="/static/IMG/Ellipse 22.png" alt=""></a>
                        <div class="nome_genero">
                            <h2>O pequeno príncipe</h2>
                            <div>
                                <p>Gênero</p>
                                <p>L</p>
                            </div>
                        </div>
                    </div>
                    <div class="informações">
                        <button class="acao-obras" onclick="abrirObraMenu(1)"><span class="material-symbols-outlined">more_vert</span></button>
                        <p id="qnt_curtidas">4 curtidas</p>
                        <div class="menu-obras" id="menu-obras-1">
                            <div class="Titulodomenu"><span onclick="abrirObraMenu(1)" id="fechar" class="material-symbols-outlined">close</span></div>
                            <ul>
                                <li><a href="@">Editar</a></li>
                                <li><a href="@">Excluir</a></li>
                            </ul>
                        </div> 
                    </div>
                </div>

                <div class="alinharperfileinformações">
                    <div class="perfil">
                        <a href=""><img src="/static/IMG/Ellipse 22.png" alt=""></a>
                            <div class="nome_genero">
                                <h2>O pequeno príncipe</h2>
                                <p>Gênero</p>
                            </div>
                    </div>
                    <div class="informações">
                        <p id="qnt_curtidas">4 curtidas</p>
                        <p>L</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}    