{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/autor.css' %}">
{% endblock %}

{% block content %}
    <main>
        <form enctype="multipart/form-data" class='estilouser' method="post" action="#">

        <div id="img">
            <div id="perfil">
                <img id="photo"  src="/media/{{user.avatar}}" alt="">
                {% if edicao %}
                    {{ form.avatar }}
                {% endif %}
                <div id="principal">
                    <ul class="pag_autor">
                        <li id="nome">
                            {{usuario.nome_completo}}
                        </li>
                        <li id="user">
                            @{{usuario.username}}
                        </li>
                    </ul>
                    <div class="direcaodosbutoes"> 
                        <a class="edit-link" href="{% url 'editar_perfil'%}"><button type="button">Editar</button><a/> 
                        <a class="edit-link" href="{% url 'postagem'%}"><button type="button">Publicar</button><a/>
                    </div>
                </div>
                <ul id="infos">
                    <li><p class="number">{{obras}}</p><a href="">Obras</a></li>
                    <li><p class="number">{{curtidas}}</p><a href="">Curtidas</a></li>
                </ul>
            </div>
        </div>
        <div id="baixo">
            <ul id="sobrecurtidos">
                <li><a href="{% url 'autor' %}">Sobre</a></li>
                <li><a href="{% url 'autor_obras' %}">Obras</a></li>
            </ul>
            <div id="linhaverdefina"></div>
        </div>
        <div id="englobar">
            <div class="sobre_o_autor">
                {% if edicao %}
                        {% csrf_token %}
                        {{form.sobre}}
                        <div class="form-buttons">
                            <button type='submit'>Salvar alterações</button>
                            <a href="{%url 'excluir_sobre'%}"><button type='button'>Excluir</button><a/>
                        </div>
                    {% else %}
                        {% if usuario.sobre != '' %}
                        {{usuario.sobre}}
                        {% else %}
                        Este usuário não possui informações aqui.
                        {% endif %}
                    {% endif %}
            </div>
        </div>
        <form/>
    </main>
{% endblock %}    