{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/autor.css' %}">
<script src="{% static 'js/obras.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <form enctype="multipart/form-data" class='estilouser' method="post" action="#">

    <div id="img">
        <div id="perfil">
            <img id="photo"  src="/media/{{user.avatar}}" alt="">
            {% if edicao %}
                {{ form.avatar }}
            {% endif %}
            <div id="principal">
                <ul class="pag_autor">
                    <li id="nome">
                        {{user.nome_completo}}
                    </li>
                    <li id="user">
                        @{{usuario.username}}
                    </li>
                </ul>
                <div class="direcaodosbutoes"> 
                    <a class="edit-link" href="{% url 'editar_perfil'%}"><button type="button">Editar</button><a/> 
                    <a class="edit-link" href="{% url 'postagem'%}"><button type="button">Publicar</button><a/>
                </div>

            </div>
            <ul id="infos">
                <li><p class="number">01</p><a href="">Obras</a></li>
                <li><p class="number">02</p><a href="">Seguidores</a></li>
                <li><p class="number">03</p><a href="">Curtidas</a></li>
                <li><p class="number">04</p><a href="">Seguindo</a></li>
            </ul>
        </div>
    </div>
        <div id="baixo">
            <ul id="sobrecurtidos">
                <li><a href="{% url 'autor' %}">Sobre</a></li>
                <li><a href="{% url 'autor_obras' %}">Obras</a></li>
            </ul>
            <div id="linhaverdefina"></div>
        </div>
        <div id="englobar">
            <section id="obras">
                {% for obra in obras %}
                <a href="{% url 'exibirtexto' obra.id %}">
                    <div class="alinharperfileinformações">
                        <div class="perfil">
                        <img id="photo"  src="/media/{{user.avatar}}" alt="">
                        <div class="nome_genero">
                            <h2>{{ obra.titulo }}</h2>
                            <div>
                                <p>{{ obra.genero }}</p>
                                <p>{{ obra.classificacao.idade }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="informações">
                        <button class="acao-obras" onclick="abrirObraMenu(1)"><span class="material-symbols-outlined">more_vert</span></button>
                        <p id="qnt_curtidas">4 curtidas</p>
                        <div class="menu-obras" id="menu-obras-1">
                            <div class="Titulodomenu"><span onclick="abrirObraMenu(1)" id="fechar" class="material-symbols-outlined">close</span></div>
                            <ul>
                                <li><a href="@">Editar</a></li>
                                <li><a href="@">Excluir</a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
                </a>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}    