<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/estilocadastro.css">
    <title>Pagina de cadastro</title>
</head>
<header>
    <nav>
        <a href=""><img src="/static/IMG/image 1.png" alt=""></a>
        <h1>Vozes Potiguares</h1>
    </nav>
    <div id="linhaverdefina"></div>
</header>
<body>
    <main>
        <div class="formulariodecadastro">
            <form method="post" action="#">
                {% csrf_token %}
                <div class="tituloesubtitulo">
                    <h2>Crie seu cadastro!</h2>
                    <P>Tenha acesso a diversos textos e públique de forma fácil</P>
                </div>
                <div>
                    <label for="">Nome completo</label>
                        {{form.nome_completo}}
                </div>

                <div>
                    <label for="">Usuário</label>
                        {{form.username}}
                </div>

                <div>
                    <label for="">Data de nascimento</label>
                        {{form.data_nascimento}}
                </div>

                <div>  
                    <label for="">Cidade</label>
                        {{form.cidade}}

                </div>
                
                <div>
                    <label for="">Endereço de e-mail</label>
                        {{form.email}}
                </div>

                <div>
                    <label for="">Sua senha</label>
                    {{form.password}}
                </div>
                <div>
                    <label for="">Confirme sua senha</label>
                    {{form.password}}
                </div>
                <div>
                    <div class="termos">
                        <input type="checkbox" name="terms" required>
                        <label for="terms">Eu aceito os <a href="{% url 'termosdeuso' %}">Termos de uso</a></label>
                    </div>
                </div>
                <a href="{% url 'paginadelogin' %}"><button>Cadastre-se</button></a>
            </form>
        </div>
    </main>
</body>
</html>