<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vozes Potiguares</title>
    <link rel="stylesheet" href="{% static 'CSS/estilosobre.css' %}">
</head>
<body>
    <main class="sobre-site">
        
        <div class="conteudo-sobre">
            <div class="descricao">
                <h2>SOBRE O SITE</h2>
                <h2><strong>Descubra a Literatura Potiguar</strong></h2>
                <p>Bem-vindo ao espaço onde histórias ganham vida e autores da região Potiguar encontram um palco para sua arte! Este projeto nasceu da paixão pela literatura e da vontade de destacar sua importância como ferramenta social transformadora.</p>
        
                <h2>Por que criar este site?</h2>
                <p>Acreditamos que a literatura é uma ponte poderosa entre culturas, gerações e ideias. No entanto, muitos talentos da nossa região ainda não recebem o reconhecimento que merecem. Aqui, queremos mudar isso!</p>
        
                <h2>O que oferecemos?</h2>
                <ul>
                    <p><strong>Autores locais</strong> podem compartilhar seus textos e alcançar um público maior.</p>
                    <p><strong>Leitores</strong> podem explorar histórias únicas e mergulhar na diversidade literária potiguar.</p>
                    <p><strong>A comunidade</strong> pode participar, incentivando, curtindo e comentando as obras.</p>
                </ul>
        
                <h2>Como funciona?</h2>
                <p>Se você é um escritor, basta se cadastrar, criar um perfil e publicar suas obras. Já se você é leitor, explore nosso acervo e descubra autores incríveis do Rio Grande do Norte!</p>
        
                <h2>Juntos pela valorização da literatura</h2>
                <p>Este é mais do que um site; é um movimento para dar voz e visibilidade aos escritores que moldam a cultura local. Vamos construir juntos esse legado literário?</p>
        
                <p>Venha fazer parte dessa história. Afinal, cada texto publicado é um novo passo rumo à valorização da literatura e ao fortalecimento da nossa identidade cultural.</p>
            </div>
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img id="logo" src="/static/IMG/image 1.png" alt="Logo do Vozes Potiguares">
                </a>
                <p>Vozes Potiguares</p>
            </div>
        </div>
        
            <hr class="linha-verde">
            <div class="conteudo-equipe">
    
                <h2>CONHEÇA NOSSA EQUIPE</h2>
                <div class="equipe-container">
                    <div class="membro">
                        <img src="/static/IMG/raquel.jpg" alt="Raquel Cavalcante">
                        <p>Raquel Cavalcante</p>
                    </div>
                    <div class="membro">
                        <img src="brendha.png" alt="Brendha Mayse">
                        <p>Brendha Mayse</p>
                    </div>
                    <div class="membro">
                        <img src="evandro.png" alt="Evandro Leite">
                        <p>Evandro Leite</p>
                    </div>
                </div>
            </div>
         
    </main>
</body>
</html>
