<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vozes Potiguares</title>
    <link rel="stylesheet" href="{% static 'CSS/estilosobre.css' %}">
</head>
<body>
    <main class="sobre-site">

        
            <div class="conteudo-sobre">
                <div class="descricao">
                    <h2>SOBRE O SITE</h2>
                    <p>O presente trabalho visa abordar a Literatura e sua importância social e como um protótipo de site pode colaborar com a necessidade de valorização dela. O foco é na região do Oeste Potiguar. O site consistiria em um espaço virtual para os autores literários postarem seus textos, proporcionando mais popularidade para estes.</p>
                </div>
                <div class="logo">
                    <img src="/static/IMG/image 1.png" alt="Logo Vozes Potiguares">
                    <p>Vozes Potiguares</p>
                </div>
            </div>
            <hr class="linha-verde">
            <div class="conteudo-equipe">
    
                <h2>CONHEÇA NOSSA EQUIPE</h2>
                <div class="equipe-container">
                    <div class="membro">
                        <img src="/static/IMG/raquel.jpg" alt="Raquel Cavalcante">
                        <p>Raquel Cavalcante</p>
                    </div>
                    <div class="membro">
                        <img src="brendha.png" alt="Brendha Mayse">
                        <p>Brendha Mayse</p>
                    </div>
                    <div class="membro">
                        <img src="evandro.png" alt="Evandro Leite">
                        <p>Evandro Leite</p>
                    </div>
                </div>
            </div>
         
    </main>
</body>
</html>
